/**
 * @file
 * Callout styles.
 */

.callout {
  display: flex;
  flex-direction: column;
  margin-block-end: var(--size-5);

  /* Horizontal layout */
  &.is-horizontal {
    gap: var(--size-4);

    @media (--laptop) {
      flex-direction: row-reverse;
      gap: var(--size-10);

      .callout__image {
        flex-shrink: 0;
        inline-size: 50%;
        margin-block-end: 0;
      }
    }

    .callout__text {
      inline-size: 100%;

      @media (--laptop) {
        align-items: center;
        display: flex;
        flex-direction: column;
        inline-size: 50%;
        justify-content: center;
      }
    }
  }

  /* Horizontal in reversed order */
  &.is-reversed {
    @media (--laptop) {
      flex-direction: row;
    }
  }
}

.callout__image {
  margin-block-end: var(--size-10);
}

.callout__title {
  line-height: var(--leading-tight);
  margin-block-end: var(--size-4);
  max-inline-size: 35ch;

  @media (--laptop) {
    font-size: var(--font-size-8);
  }
}

.callout__teaser {
  font-size: var(--font-size-2);
  margin-block-end: var(--size-4);
  max-inline-size: 65ch;

  @media (--laptop) {
    font-size: var(--font-size-3);
  }
}
