/**
 * @file
 * SVG utility classes.
 */

.fill-none {
  fill: none;
}

.fill-current {
  fill: currentColor;
}

.fill-blue-300 {
  fill: var(--blue-300);
}

.fill-blue-500 {
  fill: var(--blue-500);
}

.fill-blue-700 {
  fill: var(--blue-700);
}
