/**
 * @file
 * Featured content component styles.
 * This component is shared by Article and Event content types.
 */

.featured-card {
  display: grid;
  gap: var(--size-10);
  margin-block-start: var(--size-8);

  @media (--tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .readtime {
    margin-block-start: var(--size-2);
  }
}

.featured-card__image {
  overflow: hidden;

  img {
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
  }
}

.featured-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-inline-size: var(--size-mobile);

  .button {
    margin-block-start: var(--size-4);
  }
}

.featured-card__date--wrapper {
  align-items: center;
  color: inherit;
  display: flex;
}

/* Styles organization name by setting text and icon clor to yellow. */
.featured-card__organization-name {
  align-items: center;
  color: var(--blue-300);
  display: flex;
  font-weight: var(--font-weight-600);

  a,
  a:hover {
    align-items: center;
    display: flex;
  }

  svg {
    inline-size: var(--size-3);
    margin-inline-end: var(--size-2);
  }
}

.featured-card__title {
  line-height: var(--leading-snug);
  margin-block-end: var(--size-2);

  @media (--laptop) {
    font-size: var(--font-size-8);
  }
}

.featured-card__subtitle {
  color: var(--gray-900);
  font-family: var(--font-primary);
  font-size: var(--font-size-4);
  margin-block-end: var(--size-3);

  @media (--laptop) {
    font-size: var(--font-size-5);
  }
}
